<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.onlinejudge.mapper.ProblemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.onlinejudge.entity.Problem">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="difficulty" property="difficulty" />
        <result column="tags" property="tags" />
        <result column="time_limit" property="timeLimit" />
        <result column="memory_limit" property="memoryLimit" />
    </resultMap>

</mapper>
